*{
  margin: 0;
  padding: 0;
}

header{
    width: 100%;
}
.desktop-nav{
    display: flex;
    justify-content: space-around;
}
.desktop-static{
    padding-top: 30px;
}
.logo{
    display: flex;
    position: absolute;
    left:50px;
    
}
nav{
    position: absolute;
    top: 100px;
    right: 50px;
    width: 250px;
}
.navigation{
    position: fixed;
    right:-500px;
    width: 350px;
    height: 100%;
    background-color: bisque;
    transition: .5s;
}
.navigation ul li{
    color: rgb(17, 17, 17);
    text-align: right;
    text-transform: uppercase;
    list-style: none;
    font-size: 10px;
    padding: 20px 30px;
    border-bottom: 1pt solid #252;
}
.hamburger, .bar{
    position: fixed;
}
.hamburger{
    display: block;
    top: 5%;
    left: 95%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}
.bar{
    top: 3px;
    background:#000;
    height: 4px;
    transition: all .3s ease-in;
}
#bar1{
    width: 100%;
}
#bar2{
    top: 11px;
    width: 50%;
}
#bar3{
   top: 19px;
   width: 30% ;
}
.navigation.active{
    right: 0;
}
.hamburger.open #bar1{
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
}
.hamburger.open #bar2{
    background-color: transparent;
}
.hamburger.open #bar3{
    width: 100%;
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);
}
 

/* home */
.home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height:85vh;
}
.notice-container{
    height: 522px;
    width: 600px;
    background:#D9D9D9;
    margin: 20px;
    border-radius: 20px;
}
.heading{
    position: absolute;
    transform: rotate(-90deg);
    font-feature-settings: 'liga' off;
    font-size: 30px;
    font-family: Sen;
    font-weight: 400;
    font-style: normal;
    left: 0;
    bottom: 300px;
}
.line{
    content: '';
    position: absolute;
    width: 90px;
    height: 2px;
    background-color:#000;
    bottom:130px;
    transform:rotate(-90deg);
    left:80px;
}
.img-card{
    margin: 1px;
    padding-left: 50px;
}
.card{
    width: 200px;
    height: 150px;
    display: inline-block;
    border-radius: 10px;
    border-
    box-sizing: border-box;
    margin: 55px 30px;
    background-image: url(event.jpg);
    background-position: center;
    background-size: cover;
}


.login-container{
    height: 480px;
    width: 400px;
    background:#d8f6fa;
    margin: 20px;
    border-radius: 30px;
}

